h2{
    float: left;
    display:inline;
    margin: 0 0 0 4px;
}
#clearment{
    margin: 0 auto;
    color: #161e38;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    visibility: hidden;
    position: fixed;
    left: 23%;
    top: 44%;
}
#le{
    float: right;
}
#level{
    float: right;
}
#ti{
    float: right;
}
#second{
    float: right;
}
#minute{
    float: right;
}
#hour{
    float: right;
}
#thank{
    visibility: hidden;
}
.tim{
    float: right;
}